---
layout: default
---

<aside class="content-aside">
<ul>
  <li><a href="https://github/cocolian" target="_blank">Github项目</a></li>
  <li><a href="http://www.woshipm.com/u/169185" target="_blank">人人都是产品经理专栏</a></li>
  <li><a href="https://www.zhihu.com/people/li-xiong-93/" target="_blank">知乎专栏</a></li>
  <li>微信扫码关注</li>  
</ul>
  <div class="short-about">
	<img src="http://static.cocolian.cn/img/weixin_200.jpg" />
  </div>

</aside>
<header class="intro-header">
	<div class="post-heading">                  
		<h1>{{ page.title }}</h1>                   
	</div>           
</header>
<!-- Post Content -->
<article class="post-content"> 
    <!-- Post Container -->
            <div class="post-container">
			   			
				{{ content }}
				
            </div>  
</article>
