---
layout: default
---

<aside class="content-aside">
	<ul class="post-list">
		<li><a href="https://doc.cocolian.cn/essay/">支付系统设计</a></li>
		<li><a ref="https://doc.cocolian.cn/tax/">龚老师税法入门讲座</a> </li>
		<li><a ref="https://doc.cocolian.cn/coco/">区块链专题</a> </li>
		<li><a ref="https://doc.cocolian.cn/dev/">微服务专题</a> </li>
		<li><a ref="https://doc.cocolian.cn/resources/">资料下载</a> </li>
		<li><a ref="https://doc.cocolian.cn/team/">管理感悟</a> </li>
	</ul>
</aside>
<header class="intro-header">
	<div class="post-heading">                  
		<h1>资料下载</h1>                
		<ul class="meta">
			<li><i class="icon-sitemap"></i>资料下载</li>
			<li><i class="icon-user"></i>支付产品群</li>
			<li><i class="icon-time"></i>{{ page.date | date: "%Y-%m-%d" }}</li>
		</ul>                
	</div>           
</header>

<article class="post-content"> 
    <!-- Post Container -->
    <div class="post-container">
		这里是支付产品群共享资料的汇总。如有版权问题，请及时<a href="mailto:shamphone@gmail.com">联系我们</a>，删除资料。 
		请勿批量下载这里的资料，仅供随用随查。 大部分资料是有时效性，请随时访问获取最新版本。 
	</div>
</article>
<!-- Post Content -->
<article class="post-content"> 
    <!-- Post Container -->
    <div class="post-container">
<ol class="post-list">
	{{ content }}
</ol>
</div>
</article>
