---
layout: default
---
<aside class="content-aside">
<ul class="post-list">
    <li><a href="https://doc.cocolian.cn/essay/">支付系统设计</a></li>
    <li><a ref="https://doc.cocolian.cn/tax/">龚老师税法入门讲座</a> </li>
    <li><a ref="https://doc.cocolian.cn/coco/">区块链专题</a> </li>
    <li><a ref="https://doc.cocolian.cn/dev/">微服务专题</a> </li>
    <li><a ref="https://doc.cocolian.cn/resources/">资料下载</a> </li>
    <li><a ref="https://doc.cocolian.cn/team/">管理感悟</a> </li>
</ul>
<br/>
 <ul class="post-list">
{% assign opages = site.pages | sort:"chapter" %}
{% for opage in opages %}
{% if opage.url contains '/tax/' %}
<li>{{ opage.chapter }}. <a href="{{ opage.url | prepend: site.baseurl }}">{{ opage.title }}</a></li>
{% assign cats = opage.url | split: '/' %}
{% if cats.size > 2  %}
{% assign cat = cats[2] %}
{% assign posts = site.categories[cat] | sort:"chapter" %}
{% for post in posts %}
{% if post.status != 'unfinished' and post.status != 'hidden'  %}
<li class="second-level">{{ opage.chapter }}.{{ post.chapter}}.  <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
{% endif %}
{% endfor %}
{% endif%}
{% endif%}
{% endfor %}
</ul>
</aside>
<header class="intro-header">
	<div class="post-heading">                  
		<h1>{{ page.chapter }}&nbsp;&nbsp;{{ page.title }}</h1>                
		<ul class="meta">
			<li><i class="icon-sitemap"></i><a href="/tax">税法入门讲座</a></li>
			<li><i class="icon-user"></i>龚晓冬</li>
			<li><i class="icon-time"></i>{{ page.date | date: "%Y-%m-%d" }}</li>
		</ul>                
	</div>           
</header>
<!-- Post Content -->
<article class="post-content"> 
    <!-- Post Container -->
            <div class="post-container">

				{{ content }}
				<hr/> 
				<p>感谢您对本文的关注，如需要及时收到凤凰牌老熊的最新作品，或者有相关问题探讨，请扫码关注“凤凰牌老熊”的微信公众号，在公众号里留言或者回复，可以尽快处理，谢谢。 </p>
				<p>本文欢迎转载，转载时请注明本文来自 微信公众号“凤凰牌老熊”。 </p>
				<p>	<img src="http://static.cocolian.cn/img/weixin_430.jpg" /> </p>
				<hr/>              
                <ul class="pager">
                    {% if page.previous.url %}
                    <li class="previous">
                        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">
                        Previous<br>
                        <span>{{page.previous.title}}</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if page.next.url %}
                    <li class="next">
                        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">
                        Next<br>
                        <span>{{page.next.title}}</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>				
            </div>  
</article>
