---
layout: default
---
<aside class="content-aside">
<ul>
<li><a href="http://doc.cocolian.cn/team/">管理感悟</a></li>
{% assign posts =  site.categories["team"]  %}
{% for post in posts  %}
<li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
{% endfor %}
</ul>
</aside>
<header class="intro-header">
	<div class="post-heading">                  
		<h1>{{ page.title }}</h1>                
		<ul class="meta">
			<li><i class="icon-sitemap"></i><a href="/team">管理感悟</a></li>
			<li><i class="icon-user"></i><a href="/">{% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %} </a> </li>
			<li><i class="icon-time"></i>{{ page.date | date: "%Y-%m-%d" }}</li>
		</ul>                
	</div>           
</header>
<!-- Post Content -->
<article class="post-content"> 
    <!-- Post Container -->
            <div class="post-container">
				{{ content }}
				<hr/> 
            </div>  
</article>
