---
layout: page
description: "来自微信群‘支付产品技术交流群’的聊天记录整理"
---
{% assign posts = site.categories['wechat'] | sort:'date' %}
{% for post in  posts %}
	{% assign  display = false  %}
	{% if post.date contains page.month %}
		{% for tag in post.tags %}
			{% if tag == "publish"  %} {% assign display = true %}  {%endif %}
		{% endfor %}
	{% endif %}
	{% if display %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <div class="post-content-preview">
            {{ post.content | strip_html | truncate:200 }}
        </div>
    </a>
    <p class="post-meta">
        Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}
    </p>
</div>
<hr>
	{% endif %}
{% endfor %}
